<div class="cblock">

	<div class="wp layout-sidebar layout-sidebar-left layout-side-headers">

		<div class="layout-item">

			<h2>Обо мне</h2>

		</div>

		<div class="layout-item">

            <p>
                Занимаюсь веб-разработкой непрерывно с 2009 года.
                Пишу преимущественно на PHP7.
                Мой код основан на ООП, структура проектов — на MVC.
            </p>

            <div class="tags-groups">

                <div class="tags-group">

                    <p>
                        <strong>Технологии</strong>, которые я использую в работе:
                    </p>

                    <ul class="tags-list">

                        <li>PHP7</li>
                        <li>MySQL</li>
                        <li>Go</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>SCSS</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                        <li>Git</li>
                        <li>Redis</li>
                        <li>ElasticSearch</li>
                        <li>MongoDB</li>
                        <li>Memcache</li>
                        <li>Docker</li>
                        <li>RabbitMQ</li>
                        <li>Composer</li>

                    </ul>

                </div>

                <div class="tags-group">

                    <p>
                        <strong>Фреймворки</strong>, с которыми я предпочитаю работать:
                    </p>

                    <ul class="tags-list">

                        <li>Laravel</li>
                        <li>Symfony</li>
                        <li>Zend Framework</li>
                        <li>Gin</li>
                        <li>Phalcon</li>
                        <li>FlightPath3d Core</li>
                        <li>Jira</li>

                    </ul>

                </div>

                <div class="tags-group">

                    <p>
                        <strong>Вспомогательные инструменты</strong>, которые я использую:
                    </p>

                    <ul class="tags-list">

                        <li>Adobe Photoshop</li>
                        <li>Zephir</li>
                        <li>QT</li>
                        <li>Sphinx</li>

                    </ul>

                </div>

                <div class="tags-group">

                    <p>
                        <strong>Что-то ещё</strong>, с чем у меня есть опыт работы:
                    </p>

                    <ul class="tags-list">

                        <li>Yandex Maps API</li>
                        <li>Google Maps API</li>
                        <li>Telegram Bot API</li>
                        <li>Perforce</li>
                        <li>bash/shell</li>
                        <li>Vue.js</li>

                    </ul>

                </div>

                <div class="tags-group">

                    <p>
                        <strong>OpenSource</strong> проекты:
                    </p>

                    <ul class="tags-list">

                        <li>
                            <a href="https://gitlab.com/kukymbrgo/filecache" target="_blank" rel="noopener">Go File Cache</a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/kukymbr/telegramer" target="_blank" rel="noopener">PHP Telegramer</a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/kukymbr/curl-wrapper" target="_blank" rel="noopener">PHP cURL wrapper</a>
                        </li>

                    </ul>

                </div>

            </div>

		</div>

	</div>

</div>
