<div class="cblock center">

	<div class="wp">

		<h2>Примеры работ</h2>

		<div class="cases-box to-slick">

            <?= $this->casesItem(
                'charlottes',
                'Милины шарлотки',
                '<p>Разработка frontend и backend сайта, telegram-бот уведомлений</p>' .
                '<p class="p-button"><a class="btn" href="https://charlottes.ru" target="_blank" rel="noopener">Открыть сайт</a></p>'
            ); ?>
			<?= $this->casesItem(
                'twp',
                'Сайт TrueWayProject',
                '<p>Разработка frontend и backend сайта, Yandex Money API, telegram-бот уведомлений</p>' .
                '<p class="p-button"><a class="btn" href="https://truewayproject.ru" target="_blank" rel="noopener">Открыть сайт</a></p>'
            ); ?>
			<?= $this->casesItem(
                'twc',
                'Сайт TrueWayCamp',
				'<p>Разработка frontend и backend сайта, telegram-бот уведомлений, email уведомления, разработка CRM</p>' .
				'<p class="p-button"><a class="btn" href="https://truewaycamp.ru" target="_blank" rel="noopener">Открыть сайт</a></p>'
            ); ?>
            <?= $this->casesItem(
                'newga',
                'Интернет-магазин NewGa.ru',
                '<p>Разработка frontend и backend сайта, системы управления, telegram-бот уведомлений</p>'
            ); ?>
			<?= $this->casesItem(
                'mpi-site',
                'Сайт музея политической истории',
                '<p>Разработка backend сайта, вёрстка, настройка Bitrix, интеграция с музейной системой автоматизации и учёта</p>' .
                '<p class="p-button"><a class="btn" href="http://www.polithistory.ru/" target="_blank" rel="noopener">Открыть сайт</a></p>'
            ); ?>
			<?= $this->casesItem(
                'mpi-tour-admin',
                'Виртуальный тур музея политической истории',
                '<p>Разработка backend и системы администрирования тура, интеграция с музейной системой автоматизации и учёта</p>' .
				'<p class="p-button"><a class="btn" href="http://tour.polithistory.ru/gallery/" target="_blank" rel="noopener">Открыть сайт</a></p>'
            ); ?>
			<?= $this->casesItem(
                'airports',
                'Системы управления контентом',
                '<p>' .
                    'Разработка систем управления контентом ' .
                    '<a href="https://flightpath3d.com/amazing-apps" target="_blank" rel="noopener">приложений FlightPath3D</a>: ' .
                    'POI, placenames, airports, flight info, ARD и пр.' .
                '</p>'
            ); ?>
			<?= $this->casesItem(
                'santa',
                'Проект «Секретный Санта»',
                '<p>Некоммерческий проект анонимных новогодних подарков. Frontend и backend сайта, smtp-mailer на Go, SMS-уведомления, система управления кампаниями и участниками.</p>'
            ); ?>
			<?= $this->casesItem(
                'hermitage',
                'Виртуальная выставка Эрмитажа',
                '<p>Backend и система управления, интеграция с музейной системой автоматизации и учёта</p>' .
                '<p class="p-button"><a class="btn" href="http://e-expo.hermitage.ru/" target="_blank" rel="noopener">Открыть сайт</a></p>'
            ); ?>
			<?= $this->casesItem(
                'fuel',
                'Система мониторинга топлива',
                '<p>Backend и frontend системы мониторинга точек мобильной заправки</p>'
            ); ?>

		</div>

	</div>

</div>
