<div class="cblock themed-dark contacts-box">

	<div class="wp center">

		<div class="main center">

			<div>
				<div class="face"></div>
			</div>

			<p>Сергей Басов</p>

            <p>
                <a href="tel:+79523665855">+7 (952) 366-58-55</a>
            </p>

			<p>

				<a href="https://vk.com/kukymbr" target="_blank" rel="noopener">vk.com/kukymbr</a><br>
				<a href="https://gitlab.com/kukymbr" target="_blank" rel="noopener">gitlab.com/kukymbr</a>
				<a href="https://www.linkedin.com/in/fp3d-sbasov/" target="_blank" rel="noopener">linkedin.com/in/fp3d-sbasov</a>

			</p>

			<p>
				<a href="https://spb.hh.ru/resume/fcbc1badff01583b140039ed1f50596863724b" target="_blank" rel="noopener">
					Резюме на HeadHunter
				</a><br>
				<a href="https://gitlab.com/kukymbr/kukymbr-site" target="_blank" rel="noopener">
					Репозиторий этого сайта
				</a>
			</p>

		</div>

	</div>

</div>