<div class="cover screen-block cover-1 cover-header">

	<div class="overlay"></div>

	<div class="content v-align wp">

		<h1>Сергей Басов</h1>

		<p>
			PHP + Go developer, Санкт-Петербург
		</p>

	</div>

	<div class="aligner"></div>

	<div class="arrow-box">
		<a class="btn-arrow action-scroll" rel="down">
			<?= $this->icon('arrow-down', 48) ?>
		</a>
	</div>

</div>