<div class="cblock highlight">

	<div class="wp layout-sidebar layout-sidebar-left layout-side-headers">

		<div class="layout-item">

			<h2>Опыт работы</h2>

		</div>

		<div class="layout-item">

			<div class="p">

				<h3>
					<strong>Freelance</strong>, ноябрь 2008 — сентябрь 2011
				</h3>

				<p>
					Разработка сайтов и модулей к существующим сайтам в индивидуальном порядке.
				</p>

			</div>

			<div class="p">

				<h3>
					<strong>Webering</strong>, сентябрь 2011 — январь 2014
				</h3>

				<p>
					<strong>Team lead</strong><br>
					Разработка и сопровождение сайтов, от обычных интернет-магазинов до сложных систем автоматизации.
					Написание CMS компании с нуля на Zend Framework; работа с Yii.
					Написание модулей синхронизации для крупных проектов.
					Верстка. Работа с Wordpress, Drupal, Simple CMS (Serenity), 1С-Битрикс, Jumla и др.
					Написание корпоративной системы SEO-мониторинга
					(позиции сайтов клиентов, динамика, личные счета клиентов и пр.).
				</p>

			</div>

			<div class="p">

				<h3>
					<strong>ЗАО «Камис»</strong>, январь 2014 — июнь 2015
				</h3>

				<p>
					<strong>PHP developer</strong><br>
					Разработка порталов музеев и выставок,
					разработка веб-приложений для автоматизированной музейной информационной системы.
					Разработка систем управления и синхронизации данных из централизованной базы данных с БД клиентов.
					Участие в разработке приложений для таких заказчиков, как Эрмитаж,
					Музей политической истории, Кремль и др.
					Разработка панели администрирования приложения виртуального тура для музеев. Работа с 1С-Битрикс.
				</p>

			</div>

			<div class="p">

				<h3>
					<strong>FlightPath3D</strong>, июль 2015 — октябрь 2019
				</h3>

				<p>
					<strong>Senior PHP developer</strong><br>
					Разработка внутренних систем управления контентом
					<a href="https://flightpath3d.com/amazing-apps" target="_blank" rel="noopener">приложений</a>,
					размещаемых на самолётах (POI, placenames, airports data, flight info).
					Разработка внутренних API. Разработка корпоративного фреймворка для специфических нужд компании.
					Работа с картами и геоданными. Работа с большими запросами MySQL + Sphinx/ElasticSearch
					(оптимизация под работу небольшого количества клиентов с большим объёмом данных).
				</p>

			</div>

			<div class="p">

				<h3>
					<strong>HypeFactory</strong>, ноябрь 2019 — настоящее время
				</h3>

				<p>
					<strong>Senior PHP developer</strong><br>
					Разработка системы взаимодействия с клиентами агенства инфльюнсерс-маркетинга, 
					участие в разработке других продуктов 
					<a href="https://hypefactory.com" target="_blank" rel="noopener">HypeFactory</a> и 
					<a href="https://hypeauditor.com" target="_blank" rel="noopener">HypeAuditor</a>.
				</p>

			</div>

		</div>

	</div>

</div>
