<link rel="apple-touch-icon" sizes="180x180" href="<?= $this->url('/img/favicon/apple-touch-icon.png') ?>">
<link rel="icon" type="image/png" sizes="32x32" href="<?= $this->url('/img/favicon/favicon-32x32.png') ?>">
<link rel="icon" type="image/png" sizes="16x16" href="<?= $this->url('/img/favicon/favicon-16x16.png') ?>">
<link rel="manifest" href="<?= $this->url('/img/favicon/site.webmanifest') ?>">
<link rel="mask-icon" href="<?= $this->url('/img/favicon/safari-pinned-tab.svg') ?>" color="#e88723">
<link rel="shortcut icon" href="<?= $this->url('/img/favicon/favicon.ico') ?>">
<meta name="msapplication-TileColor" content="#e88723">
<meta name="msapplication-config" content="<?= $this->url('/img/favicon/browserconfig.xml') ?>">
<meta name="theme-color" content="#e88723">