<!DOCTYPE html>
<html lang="ru-RU">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <?= $this->render('favicon'); ?>

	<?= $this->title($this->title); ?>

	<?= $this->headItems($this->headItems, $this->jsData); ?>

</head>