/**
 * Blocks & containers styles
 */
@import "../inc/theme";
@import "../inc/mixins";

.wp {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.cblock {
    padding: $size-padding*2 0;

    p {
        &.p-button,
        &.center {
            text-align: center;
        }
    }

    .center {
        text-align: center;
        p {
            text-align: center;
        }
    }
}

.comment {
    font-size: .8em;
    color: $color-text-comments;
}

.highlight-block {
    padding: $size-padding;
    background: $color-highlight;
}

.overlay {
    @include absolute();
    z-index: 2;
    background: rgba(0, 0, 0, .7);
}

.screen-block {
    width: 100%;
    height: 100vh;
}

.tags-list {

    font-size: .8em;

    li {
        display: inline-block;
        padding: 5px 10px;

        background: $color-highlight;
        list-style: none;

        &::before {
            display: none;
        }
    }
}

.tags-groups {

}

.tags-group {
    margin-bottom: $size-padding;
    &:last-child {
        margin-bottom: 0;
    }
    p {
        margin-bottom: $size-padding/2;
    }
}

.cases-box {

    .item {
        display: block;
        position: relative;

        .overlay {
            opacity: 0;
            transition: opacity .5s ease;
            background: transparentize($color-bg, .08);
        }

        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }

    .content {
        position: relative;
        z-index: 4;
        max-width: 700px;
    }

    .img {
        display: block;
        width: 100%;
    }
}

.contacts-box {

    .face {
        display: block;
        width: 140px;
        height: 140px;
        margin: 0 auto $size-padding;

        background: transparent url($path-img + "face.jpg") center no-repeat;
        background-size: cover;
        border-radius: 100%;
    }

    .main {
        max-width: 420px;
    }

    a {
        display: inline-block;
        margin-bottom: 7px;
        text-decoration: none;
        border-bottom: 1px solid $color-theme-dark;
        &:hover, &:active, &:focus {
            color: lighten($color-theme-dark, 5%);
        }
    }
}