/**
 * Buttons styles
 */
@import "../inc/theme";
@import "../inc/mixins";

.btn {
    $bg: $color-theme;

    @include button-basics();
    @include button-color($bg, $color-bg);

    font-weight: $font-weight-bold;
    font-size: .7em;
    text-transform: uppercase;

    &:active, &.active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    &:disabled, &.disabled {
        $bg: $color-disable;
        cursor: default;
        @include button-color($bg);
        &:hover {
            @include button-color($bg);
        }
        &:active, &.active {
            box-shadow: none;
        }
    }
}

a.btn {
    color: $color-bg;
    text-decoration: none;
}

.btn-ok {
    @include button-color($color-green);
}

.btn-warn {
    @include button-color($color-red);
}

.btn + .btn {
    margin-left: 5px;
}

.btn-arrow {
    opacity: .9;
    transition: opacity .3s ease;
    text-decoration: none;
    border: none;

    .ico {
        animation: bouncing 1.7s infinite ease;
    }

    &:hover {
        opacity: 1;
        border: none;
    }
}