/**
 * Covers styles
 */

@import "../inc/theme";

.cover {
    position: relative;

    color: $color-bg;
    font-weight: 300;
    text-align: center;

    background: transparent top center no-repeat fixed;
    background-size: cover;

    .content {
        position: relative;
        z-index: 3;
    }

    .arrow-box {
        position: absolute;
        z-index: 4;
        bottom: $size-padding/2;
        left: 0;
        right: 0;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-bg;
    }
}

.cover-1 {
    background-image: url($path-img + "cover-01.jpg");
}