/**
 * Site footer styles
 */
@import "../inc/theme";

#footer {
    font-size: .8em;
    color: $color-bg;
    background: $color-theme-dark;

    .footer-block {
        margin-bottom: $size-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }
}