@import "../inc/theme";
@import "../inc/mixins";

@mixin form-input() {
    display: block;
    padding: $size-padding/2 $size-padding/2;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    color: $color-text;
    outline: none;
    background: $color-highlight;
    border: none;
    text-align: center;
    font-size: .9em;

    -moz-appearance: none;
    -webkit-appearance: none;

    transition: all .3s ease;

    &:focus {
        color: #000;
        background: $color-bg;
    }

    &:disabled,
    &:read-only {
        background: $color-borders;
    }

    &.error {
        border-color: $color-red;
    }
}

@mixin placeholder() {
    color: lighten($color-text, 70%);
    font-weight: lighter;
}

::-webkit-input-placeholder {
    @include placeholder();
}

::-moz-placeholder {
    @include placeholder();
}

::placeholder {
    @include placeholder();
}

input {
    &[type="text"],
    &[type="password"],
    &[type="number"],
    &[type="email"],
    &[type="tel"] {
        @include form-input();
    }
}

textarea {
    @include form-input();
    min-height: 80px;
}

select {
    background: #FFF;
    border: 1px solid $color-borders;
    outline: none;
    cursor: pointer;
    border-radius: $size-border-radius;

    &:focus,
    &:hover {
        border-color: darken($color-borders, 10%);
    }
}

.form {

    min-width: 300px;

    fieldset {
        margin-bottom: $size-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }

    fieldset.submit {
        padding-top: 5px;
    }

    fieldset.error {
        padding-top: 20px;
        color: darken($color-red, 10%);
    }

    fieldset.policy-message {
        display: none;
        max-width: 400px;
        font-size: .6em;
    }

    label {
        display: block;
        margin-bottom: $size-padding/2;
        font-weight: 400;
        font-size: .9em;
    }

    select {
        @include form-input();
    }
}