@import "../inc/theme";
@import "../inc/mixins";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;

    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-regular;
    line-height: $size-line-height;

    color: $color-text;
    background: $color-bg;

    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: $size-padding 0 $size-padding;

    font-size: 1.6em;
    font-weight: $font-weight-regular;
    text-transform: uppercase;

    @include hyphens(none);

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    margin: 0 0 $size-padding;
    font-size: 3em;
}

h3 {
    font-size: 1em;
}

h4, h5, h6 {
    font-size: .9em;
    font-weight: $font-weight-bold;
}

p, ul, ol {
    margin: 0 0 2em;
    &:last-child {
        margin-bottom: 0;
    }
}

.p {
    margin: 2em 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        margin-bottom: $size-padding/4;
    }
    p {
        font-size: .8em;
    }
}

.p-button {
    margin-top: 3em;
    text-align: center;
}

ol {
    li {
        list-style: decimal inside;
    }
}

ul {
    li {
        list-style: none;
        margin-bottom: 5px;
        &::before {
            content: "• ";
            padding-right: 10px;
            color: $color-theme;
        }
    }
}

a {
    cursor: pointer;
    color: $color-theme-dark;
    text-decoration: underline;
}

a:hover, a:focus {
    color: darken($color-text, 8%);
}

a:active, a:hover {
    outline: 0;
}

a[href*="tel:"] {
    white-space: nowrap;
}

strong {
    font-weight: $font-weight-bold;
    color: $color-theme;
}

::-moz-selection {
    background: $color-theme;
    color: $color-text;
}

::selection {
    background: $color-theme;
    color: $color-text;
}

.aligner {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.v-align {
    /* need .aligner class after element */
    display: inline-block;
    vertical-align: middle;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.huge {
    color: $color-theme;
    font-size: 3em;
    line-height: 1.2;
}

.highlight {
    background: $color-highlight;
}

.themed {
    color: $color-bg;
    background: $color-theme;

    h1, h2, h3, h4, h5, h6 {
        color: $color-bg;
    }
}

.themed-dark {
    color: $color-bg;
    background: #2E2E2E;

    h1, h2, h3, h4, h5, h6 {
        color: $color-bg;
    }
}

.hidden {
    display: none;
}