/**
 * Site header styles
 */
@import "../inc/theme";
@import "../inc/mixins";

#header {

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

    font-size: .8em;
    font-weight: $font-weight-regular;
    background: $color-theme-dark;

    .wp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;
        padding: $size-padding/4+2 0 $size-padding/4;

        * {
            vertical-align: middle;
        }
    }

    a {
        text-decoration: none;
        color: $color-bg;
    }

    .logo {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: border .2s ease;

        &:hover {
            border-color: $color-theme;
        }
    }

    .menu {
        display: inline-block;
        font-size: .8em;
        font-weight: $font-weight-bold;
        text-align: right;
        text-transform: uppercase;

        a {
            display: inline-block;
            vertical-align: middle;
            user-select: none;
        }

        a + a {
            margin-left: $size-padding/2;
        }

        .btn {
            @include button-color();
            padding: 5px $size-padding/2;
            margin-left: $size-padding;

            font-size: 1em;
            font-weight: $font-weight-bold;
            color: $color-theme-dark;
            border: 2px solid $color-theme;

            &:hover {
                transform: none;
                color: $color-theme;
                background-color: $color-theme-dark;
            }
        }

        a.scroller-control {
            transition: color .3s ease;
            &:hover, &.active {
                color: $color-theme;
            }
        }
    }

    .social-links {
        a:hover {
            text-decoration: none;
        }
    }
}