/**
 * Icons styles
 */
@import "../inc/theme";

@mixin ico-size($size: 16px) {
    width: $size;
    height: $size;
    background-size: $size $size;
}

@mixin ico-svg($name) {
    background-image: url($path-icons + $name + '.svg');
}

.ico {
    display: inline-block;
    background: transparent center no-repeat;
    vertical-align: middle;
    @include ico-size(16px);
}

.ico-12 {
    @include ico-size(12px);
}
.ico-16 {
    @include ico-size(16px);
}
.ico-20 {
    @include ico-size(20px);
}
.ico-32 {
    @include ico-size(32px);
}
.ico-48 {
    @include ico-size(48px);
}
.ico-64 {
    @include ico-size(64px);
}
.ico-128 {
    @include ico-size(128px);
}