/**
 * Element placement layouts
 */

.layout-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    & > .layout-item {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 2%;
    }
}

.layout-grid-2 {
    & > .layout-item {
        width: 49%;
    }
}

.layout-grid-3 {
    & > .layout-item {
        width: 32%;
    }
}

.layout-grid-4 {
    & > .layout-item {
        width: 24%;
    }
}

.layout-sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    &.wp {
        display: flex;
    }
}

.layout-sidebar-left {
    & > .layout-item {
        &:nth-child(odd) {
            width: 23%;
            text-align: right;
        }
        &:nth-child(even) {
            width: 73%;
            text-align: left;
        }
    }
}

.layout-sidebar-right {
    & > .layout-item {
        &:nth-child(odd) {
            width: 73%;
        }
        &:nth-child(even) {
            width: 23%;
        }
    }
}

.layout-sidebar-both {
    & > .layout-item {
        &:nth-child(odd) {
            width: 14%;
        }
        &:nth-child(even) {
            width: 70%;
        }
    }
}

.layout-side-headers {
    h2 {
        line-height: 1.3;
    }
}