/**
 * Pre-loaders styles
 */

@import "../inc/theme";
@import "../inc/mixins";

.loader-overlay {

	@include absolute();
	position: fixed;

	z-index: 2;
	background-color: $color-bg;

	.spinner {

		$borders: darken($color-bg, 5%);
		$size: 6px;

		position: absolute;
		top: 45%;
		left: 48%;

		display: inline-block;
		width: 50px;
		height: 50px;
		color: $borders;

		&:before {
			border-radius: 50%;
			content: " ";
			width: 50px;
			height: 50px;
			display: inline-block;
			box-sizing: border-box;
			border-top: solid $size ;
			border-right: solid $size $borders;
			border-bottom: solid $size $borders;
			border-left: solid $size $borders;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:after {
			border-radius: 50%;
			content: " ";
			width: 50px;
			height: 50px;
			display: inline-block;
			box-sizing: border-box;
			border-top: solid $size $color-theme;
			border-right: solid $size transparent;
			border-bottom: solid $size transparent;
			border-left: solid $size transparent;
			position: absolute;
			top: 0;
			left: 0;
			animation: spinner-round-animate 1s ease-in-out infinite;
		}
	}
}

#loader-overlay {
	position: fixed;
	z-index: 999999;
}