body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}

body {
	font-size: 100.01%;
	font-weight: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

address, caption, cite, code, dfn, th, var {
	font-style: normal;
	font-weight: normal
}

ol, ul {
	list-style: none
}

caption, th {
	text-align: left
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.6em;
	font-weight: normal
}

q:before, q:after {
	content: ''
}

fieldset, img, abbr, acronym {
	border: 0
}

legend {
	color: #000
}

input, textarea, select {
	padding: 1px;
	font-size: 100%;
	font-family: inherit
}

select {
	padding: 0
}

select option {
	padding: 0 6px
}

li {
	list-style: none
}

em {
	font-style: normal;
}

header, section, footer, aside, nav, main, article, figure {
	display: block;
}