/**
 * Tables styles
 */

@import "../inc/theme";

.table {
	width: 100%;
	max-width: 100%;
	border: 0;
	padding: 0;
	border-collapse: collapse;

	th, td {
		padding: $size-padding/2;
		border-bottom: 1px solid $color-borders;
	}

	th {
		vertical-align: top;
		color: lighten($color-text, 30%);
		font-weight: 500;
	}

	td {
		vertical-align: middle;
	}

	tr:hover td {
		background: $color-highlight;
	}
}

.table-vertical {
	width: auto;
	td, th {
		vertical-align: top;
		padding: $size-padding/2;
		min-width: 125px;
	}
	th {
		text-align: right;
	}
}