<div class="screen-block">

    <div class="content v-align wp center">

        <h1>Error <?= $this->code ?></h1>

        <p>
	        <?= $this->message ?>
        </p>

        <p class="p-button">
            <a href="<?= $this->url('/') ?>" class="btn">Main Page</a>
        </p>

    </div>

    <div class="aligner"></div>

</div>