/**
 * Mobile devices styles
 */
@import "theme";
@import "mixins";

// Retina styles
@media(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .cover {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 740px) {
    h1 {
        font-size: 2em;
        margin-bottom: $size-padding/2;
    }
    .layout-sidebar.layout-side-headers {
        display: block;
        .layout-item {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    .slick-arrow {
        display: none !important;
    }
    .cases-box {
        font-size: .9em;
        h4 {
            margin-bottom: $size-padding/2;
        }
        .p-button {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 420px) {

    .form {
        min-width: unset;
    }
    @include hyphens(auto);
}