/**
 * Mixin sources
 */
@import "theme";

// Clear fix
@mixin clearfix {
    zoom: 1;
    &:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
}

// Absolute positioning
@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Basic button styles
@mixin button-basics() {
    display: inline-block;
    padding: $size-padding/4 $size-padding/2;

    color: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: $size-border-radius;

    text-align: center;
    line-height: 1.4;
    font-size: .9em;
    font-weight: $font-weight-regular;

    white-space: nowrap;
    user-select: none;
    touch-action: manipulation;

    -moz-appearance: none;
    -webkit-appearance: none;

    transition: all .2s ease;
}

// Button color styles
@mixin button-color($bg: $color-theme, $fg: $color-text) {
    background-color: $bg;
    border-color: $bg;
    color: $fg;

    $bgh: darken($bg, 4%);

    &:hover {
        background-color: $bgh;
        border-color: $bgh;
        color: $fg;
    }
    &:active, &.active {
        background-color: $bgh;
        border-color: $bgh;
        color: $fg;
    }
}

// Hyphens
@mixin hyphens($value: auto) {
    -webkit-hyphens: $value;
    -moz-hyphens: $value;
    -ms-hyphens: $value;
    hyphens: $value;
}