/**
 * Theme variables file
 */

/**
 * Colors
 */
$color-theme: #e88723;
$color-bg: #fcfcfc;
$color-theme-dark: #2384E8;
$color-text: #2e2e2e;
$color-text-comments: lighten($color-text, 40%);
$color-highlight: #F5F5F5;
$color-borders: #ebebeb;
$color-disable: #dadada;
$color-green: #23E887;
$color-red: #a8423a;

/**
 Sizes
 */
$size-padding: 40px;
$size-border-radius: 4px;
$size-line-height: 1.5;

/**
 * Paths
 */
$path-fonts: '../fonts/';
$path-img: '../img/';
$path-icons: $path-img + 'icons/';

/**
 * Fonts
 */
$font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
$font-size: 20px;
$font-weight-regular: 400;
$font-weight-bold: 700;